h1 {
    color: #ffffffb2;
    text-align: center;
    font-size: 80px;
}

body {
    color: #575757;
    background-color: #2f3b4b;
    background: -moz-radial-gradient(center 45deg, circle closest-corner, #2f3b4b 0%, #3e4f63 100%);
    background: -webkit-gradient(radial, center center, 10, center center, 900, from(#9f8686), to(#3e4f63));
    color: white;
    font-family: 'Arial', sans-serif;
}

a {
    color: #ffffff;
    p.solid {outline-style: solid;}

}
